body{
	background-color: #000;
	font-family: 'Raleway', sans-serif;
}

p{
	font-family: Raleway;
	font-weight: 100;
	font-size: 12px;
	color: #DFDFDF;
	letter-spacing: 1pt;
	text-align: center;
	line-height: 23px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	}

a.nav-link{
	font-size: 14px;
	color: #DFDFDF;
	letter-spacing: 0;
	text-transform: uppercase;
	font-weight: 300;
}

li.nav-item.active{
	border-bottom: 1px solid #A9880F;
}

.carousel-inner{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel-item {
	height: 45rem;
}

.carousel-item::after {
	position: relative;
	content: '';
	display: block;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.7) 74.08%,rgba(0,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.7) 74.08%,rgba(0,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.7) 74.08%,rgba(0,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.7) 74.08%,rgba(0,0,0,1.00) 100%);
	margin-top: -450px;
	height: 450px;
}

.carousel-item > img {
	min-width: 100%;
	height: 40rem;
	object-fit : cover;
}

.col-lg-10.about-us {
	padding-top: 0px;
	top: -173px;
}

.col-lg-10.about-us .title {
	font-weight: 200;
	font-size: 48px;
	color: #FFDF66;
	letter-spacing: 10px;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	text-transform: uppercase;
}

.footer-index {
	background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 30.05%,rgba(85,21,21,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 30.05%,rgba(85,21,21,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 30.05%,rgba(85,21,21,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 30.05%,rgba(85,21,21,1.00) 100%);
}
