body{
	background-color: #000;
	font-family: 'Raleway', sans-serif;
}

p{
	font-family: Raleway;
	font-weight: 100;
	font-size: 12px;
	color: #DFDFDF;
	letter-spacing: 1pt;
	text-align: center;
	line-height: 23px;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	}

a.nav-link, a.parent{
	font-size: 14px;
	color: #DFDFDF;
	letter-spacing: 0;
	text-transform: uppercase;
	font-weight: 300;
}

/*quita el cuadro alrededor del menu hamburguesa*/
.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,0);
}
/*pequeño ajuste a la posición de la hamburguesa*/
.navbar-toggler {
    padding: .25rem .15rem;
}

@media (max-width: 991px) {
  .dropdown-item{
	text-align: left;
	}
}

.dropdown-menu{
	border-radius: 0;
	background: #0E0E0E;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	text-align: center;
	
}

.dropdpwn-item {
	font-family: Helvetica;
	letter-spacing: 0.86px;
	text-align: center;
	line-height: 25px;
}

.dropdpwn-item:hover{
	
}

.dropdown-menu a{
	font-size: 12px;
	color: #DFDFDF;
	text-transform: uppercase;
	
}

.dropdown-menu a:hover{
	color: #A9880F;
	background: #0E0E0E;
}

.submenu{
    font-size: 14px;
	color: #DFDFDF;
	letter-spacing: 1;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	display:block;
}

ul.desplegable-box{
	width:50px;
	list-style: none;
}

li.nav-item.active{
	border-bottom: 1px solid #A9880F;
}

align="left"

.carousel-inner{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel-item {
	height: 45rem;
}

.carousel-item::after {
	position: relative;
	content: '';
	display: block;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.7) 74.08%,rgba(0,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.7) 74.08%,rgba(0,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.7) 74.08%,rgba(0,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(0,0,0,0.7) 74.08%,rgba(0,0,0,1.00) 100%);
	margin-top: -450px;
	height: 450px;
}
.carousel-item > img {
	min-width: 100%;
	height: 40rem;
	object-fit : cover;
}

.man-item {
	margin: 2% 4px;
	flex: 0 1 calc(25% - 8px);
	text-align: center;

}

.man-item img {
	object-fit : cover;
}

.man-item img{
	width: 220px;
	height: 220px;
}

.management {
	margin-top: -120px;
}

.col-lg-10.about-us {
	padding-top: 0px;
	top: -173px;
	margin-bottom: 40px;
}

.col-lg-10.about-us .title {
	font-weight: 200;
	font-size: 48px;
	color: #FFDF66;
	letter-spacing: 10px;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	text-transform: uppercase;
}

hr{
	height: 1;
    background: #4B3D07;
    width: 35%;
}


.footer-index {
	margin-top: 4%;
	background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 17.61%,rgba(85,21,21,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 17.61%,rgba(85,21,21,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 17.61%,rgba(85,21,21,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 17.61%,rgba(85,21,21,1.00) 100%);
}
.footer-end {
	margin-top: 20px;
	padding-bottom: 10px;
	vertical-align: baseline;

}
.social-net {
	padding-top: 12px;
}

.redes-bullets{
	padding-left: 20px;
}

.correct-align-footer{
	margin-bottom: 0px;
	margin-top:  5px;

}
